body {
    background-color: rgb(199, 199, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: change 15s infinite;
}

@keyframes change{
    0%{background-color:#4dabcb77;}
    10%{background-color:#4dabcb91;}
    20%{background-color: #4dabcbaf;}
    30%{background-color: #4dabcbc9;}
    40%{background-color: #4dabcbe1;}
    50%{background-color:#4daccb;}
    60%{background-color:#4dabcbe1;}
    70%{background-color: #4dabcbc9;}
    80%{background-color: #4dabcbaf;}
    90%{background-color: #4dabcb91;}
    100%{background-color:#4dabcb77;}
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    margin: 24px;
    color: lightslategrey;
}

.game-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 12px 12px;
    row-gap: 35px;
}

.button {
    padding: 170px 200px;
    background-color: rgb(123, 154, 175);
    border-radius: 10px;
    border: 1px;
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}