@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9CC3D5FF;
  font-family: 'Montserrat', sans-serif;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 40px 10%;
}

li, a, div.website-name{
  font-weight: 500;
  font-size: 16px;
  color: #9CC3D5FF;
  text-decoration: none;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #96b2b9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    margin: 36px;
    color: rgb(0, 0, 0);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 12px 12px;
    row-gap: 35px;
}

.button {
    padding: 170px 200px;
    background-color: rgb(123, 154, 175);
    border-radius: 10px;
    font-size: 50px;
    width: 600px;
    height: 200px;
    border: 4px solid black;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

  .button::before, .button::after {
    position: absolute;
    background: rgb(123, 154, 175);
    z-index: -1;
    transition: 0.9s;
    content: '';
  }
  
  .button::before {
    height: 349px;
    width: 420px;
  }
  
  .button::after {
    width: 600px;
    height: 130px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .button:hover::before {
    width: 0px;
    background: rgb(123, 154, 175);
  }
  
  .button:hover::after {
    height: 0px;
    background: rgb(123, 154, 175);
  }
  
  .button:hover {
    background: rgb(123, 154, 175);
  }