@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    text-align: center;
    font-size: 21px;
    font-family: 'PT Sans Narrow', sans-serif;
    overflow: hidden;
    background: rgb(165, 211, 230)
}

#game {
    border: 1px solid black;
    background: black;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
}

.btn {
    width: 160px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 26px;
    font-weight: 600;
    padding: 15px 25px;
    gap: 10px;
    background-color: #9c9c9c;
    color: #000000;
    border: 4px solid #000000;
}

#restartButton {
    display: none;
}